html {
    background-color: #5865F2;
}

main {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.title {
    font-family:fantasy;
}

.posts {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.posts img {
    max-width: 60px;
}

.content li {
    font-weight: 500;
}
/* https://www.w3schools.com/howto/howto_css_dividers.asp */
.solid-border {
    border-top: 3px solid #fff;
}

.dashed-border {
    border-top: 3px dotted #bbb;
}

.nav-bar {
    border: black solid;
}

.nav-elements {
    display: flex;
    justify-content:space-evenly;
    padding: 0.2rem;
}

.about-section {
    display: flex;
    align-items:flex-start;
    justify-content:center;
    flex-wrap:wrap;
    background-color: #2c2f33;
    margin: 10px;
    padding: 2px;
    position: auto;
    color: white;
    width: 25%;
}

.about-section img{
    size: relative;
    max-width:100%;
    max-height: 100%;
}

.about-title {
    font-family:monospace;
    font-size: 1.5rem;
    font-weight: bold;
    display:inline-block
}

.about-content {
    font-family:monospace;
    font-size: 1.0rem;
    font-weight: bold;
    text-align: center;
}

a:hover {
    color: rgb(255, 122, 244);
    content: 'Find out how to contact me!'
}